.titleWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 32px auto;
  line-height: 26px;
}

.section {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  margin-bottom: 8px;
}

.block {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  cursor: pointer;

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: auto;
    flex-grow: 1;

    p:nth-child(1) {
      margin-bottom: 0;
      font-size: 17px;
      font-weight: 590;
      line-height: 22px;
    }

    p:nth-child(2) {
      font-size: 15px;
      color: #918d98;
      line-height: 20px;
    }
  }
  svg {
    color: #918d98;
  }
}

.avatar {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  background: #f4b817;
  color: #f6f6f6;
  text-align: center;
  font-size: 17px;
  font-weight: 590;
}
